@charset "UTF-8";

header {height:70px; background-color:rgb(211, 224, 254);}
.logo {color: #000}

.contents {height:800px;}
.login-info {height:50px;}
.contents-box {width:650px;}



#signUpForm {height:500px; width:500px; background-color:rgb(237, 252, 201);}
#profileForm {height:500px; width:500px; background-color:rgb(237, 252, 201);}

